<!-- LEFTPART -->
<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="#"><img src="{{global.logo}}" alt="logo" /></a>
        </div>

        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul>
                    {{#global.social.facebook.visible}}
                        <li><a target="_blank" href="{{global.social.facebook.url}}"><i class="xcon-{{global.social.facebook.icon}}"></i></a></li>
                    {{/global.social.facebook.visible}}

                    {{#global.social.facebook.visible}}
                        <li><a target="_blank" href="{{global.social.twitter.url}}"><i class="xcon-{{global.social.twitter.icon}}"></i></a></li>
                    {{/global.social.facebook.visible}}

                    {{#global.social.facebook.visible}}
                        <li><a target="_blank" href="{{global.social.linkedin.url}}"><i class="xcon-{{global.social.linkedin.icon}}"></i></a></li>
                    {{/global.social.facebook.visible}}

                    {{#global.social.facebook.visible}}
                        <li><a target="_blank" href="{{global.social.instagram.url}}"><i class="xcon-{{global.social.instagram.icon}}"></i></a></li>
                    {{/global.social.facebook.visible}}
                </ul>
            </div>
        </div>
    </div>
</div>